// 7-1 Sass Architecture
// https://sass-guidelin.es/#the-7-1-pattern

// Abstracts
// - tools and helpers
@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/mixins";

// Vendors
// - CSS from external libraries and frameworks
@import "./vendors/googlefonts";
@import "./vendors/bootstrap";

// Base
// - standard styles for commonly elements
@import "./base/base";
@import "./base/helpers";
@import "./base/fonts";
@import "./base/typography";

// Components
// - for small, reusable pieces
@import "./components/buttons";

// Layout
// - everything that takes part in laying out the site/application
@import "./layout/header";
@import "./layout/footer";

// Pages
// - page-specific styles
@import "./pages/home";

// Themes
// - for different aspects
@import "./themes/default";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./themes/fontawesome.min.css");
/* header  */
/* filter */
/* filter End */
/* header End */
/*Table CSS */
/* table end */
/* drawer style */
/* drawer style end */
/* media query  */
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
}
.content-area {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}
header {
  background-color: #fff;
}
.top-header {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 0;
    h1 {
      color: #173851;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}
.logo {
  img {
    width: 40px;
  }
}
.user-profile-wrap {
  border-left: 1px solid #ebebf0;
  padding-left: 20px;
  .dropdown {
    width: 37px;
    .dropdown-menu {
      left: auto !important;
      right: 0;
      top: 40px !important;
      transform: none !important;
    }
  }
  .dropdown-toggle {
    background: transparent !important;
    border: transparent;
    padding: 0;
    box-shadow: none !important;
  }
}
.filter-box {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.filter-Left {
  display: flex;
  align-items: center;
}
.filter-wrap {
  display: flex;
  align-items: center;
  margin-left: 14px;
  .dropdown {
    .dropdown-toggle {
      border-radius: 100px;
      height: 33px;
      line-height: 16.94px;
      font-size: 14px;
      border: 1.5px solid #ebebf0;
      background: #fff;
      color: #173851;
      padding: 8px 14px;
      font-weight: 400;
      margin: 0 4px;
      display: flex;
      align-items: center;
      &:focus {
        border-color: rgba(0, 100, 255, 0.07);
        box-shadow: none;
        background: rgba(0, 100, 255, 0.07) !important;
        color: #0864ff !important;
      }
    }
  }
  .dropdown-toggle.show {
    border-color: rgba(0, 100, 255, 0.07);
    box-shadow: none;
    background: rgba(0, 100, 255, 0.07) !important;
    color: #0864ff !important;
  }
}
.filter-Right {
  display: flex;
  align-items: center;
  > .dropdown {
    .dropdown-toggle {
      background: transparent !important;
      color: #636c72 !important;
      padding: 0;
      border: 0;
      padding-right: 25px;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      box-shadow: none !important;
      align-items: center;
    }
  }
}
input.form-control {
  &::placeholder {
    color: #a3aeb8;
    font-size: 14px;
  }
}
.searc-input {
  input {
    height: 34px;
    background: #f5f7f9;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    min-width: 228px;
    border-radius: 4px;
    padding-left: 30px;
  }
  position: relative;
}
span.searchSvg {
  position: absolute;
  top: 4px;
  left: 8px;
}
.form-control {
  &:hover {
    border-color: #ccc;
  }
  &:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 1px rgba(108, 117, 125, 0.2);
  }
}
.btn-selected {
  border-color: rgba(0, 100, 255, 0.07);
  box-shadow: none;
  background: rgba(0, 100, 255, 0.07) !important;
  color: #0864ff !important;
}
.dropdown-toggle {
  &::after {
    display: none;
  }
}
.clearall {
  padding-left: 20px;
  a {
    font-size: 14px;
    color: #0064ff;
    text-decoration: none;
  }
}
.theme-btn {
  background-color: #0064ff;
  height: 34px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  font-weight: 600;
  border-color: #0064ff;
  display: inline-flex;
  align-items: center;
  &:hover {
    background-color: #fff;
    color: #0064ff;
  }
}
span.PlusIcon {
  padding-right: 6px;
}
.filter-dropdown {
  .dropdown-menu {
    min-width: 270px;
    padding: 0 !important;
  }
}
.checkbox-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  .form-check {
    .form-check-label {
      font-size: 14px;
      color: #173851;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 120px;
    }
  }
  .count {
    font-size: 14px;
    color: #a3aeb8;
    line-height: normal;
  }
}
.searchInput {
  .form-control {
    border-color: #ebebf0;
  }
  margin-bottom: 4px;
}
.form-ul {
  li {
    list-style: none;
  }
  padding: 15px 15px 0 15px;
}
.form-btns {
  display: flex;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #ebebf0;
  .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.transparent-btn {
  background: #fff;
  color: #0064ff;
  border-color: #dce1e6;
  &:hover {
    background: #0064ff;
    color: #fff;
    border-color: #0064ff;
  }
}
// &::placeholder {
//   color: #a3aeb8;
//   font-size: 14px;
// }
.form-check-input[type="checkbox"] {
  border-radius: 3px;
  cursor: pointer;
}
.form-check-input {
  &:focus {
    box-shadow: none;
  }
  margin-top: 0;
  margin-right: 10px;
}
.checkbox-item.li-checked {
  background: rgba(0, 100, 255, 0.07);
}
li.checkbox-item.li-checked {
  .count {
    color: #0864ff;
  }
}
.checkbox-profile {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.profile-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profile-text {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .name {
    font-size: 13px;
    margin: 0;
    color: #173851;
    display: block;
    line-height: normal;
  }
  .email {
    color: #636c72;
    font-size: 12px;
    margin: 0;
    line-height: normal;
  }
}
.form-check {
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.totleCount {
  position: relative;
  right: 0;
  width: 16px;
  height: 16px;
  background: #0864ff;
  color: #fff;
  border-radius: 50%;
  font-size: 9px;
  margin-left: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-title {
  position: relative;
  &:after {
    display: inline-block;
    margin-left: 6px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    z-index: 2;
    top: 2px;
    position: relative;
  }
}
.tasklist-table-wrap {
  position: relative;
  @media (max-width: 1300px) {
    overflow: auto;
  }
}
.task-list-table {
  padding: 10px 0;
  table {
    min-width: 1265px;
  }
  thead {
    background-color: transparent;
    th {
      color: #636c72;
      background-color: transparent;
      label {
        margin-bottom: 0;
      }
    }
  }
  tbody {
    background-color: #ffffff;
    border: 1px solid #ebebf0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
    border-radius: 11px;
    border-collapse: collapse;
    overflow: hidden;
    tr:not(:first-child) {
      &:hover {
        background-color: #f5f7f9;
      }
    }
  }
  tr {
    th {
      background-color: transparent;
      font-size: 14px;
      color: #636c72;
      padding: 14px;
      font-weight: 400;
      border: none;
      &:first-child {
        padding: 15px 0 15px 23px;
      }
      .sorting-span {
        display: inline-flex;
        flex-direction: column;
        vertical-align: middle;
        margin-top: 2px;
        span {
          height: 7px;
          img {
            float: left;
          }
        }
      }
    }
    td {
      &:first-child {
        padding: 15px 0 15px 23px;
      }
      .dropdown {
        .dropdown-toggle {
          background-color: transparent;
          color: #173851;
          font-size: 18px;
          line-height: 22px;
          border: none;
          box-shadow: none;
          padding: 0;
          background-image: url("../images/downarrow.svg");
          background-repeat: no-repeat;
          padding-right: 15px;
          background-position: right center;
          &:focus,
          &:active,
          &:active:focus {
            border: none;
            box-shadow: none;
            background-color: transparent;
            color: #173851;
          }
        }
      }
      border: none;
      vertical-align: middle;
      font-size: 16px;
      color: #173851;
      padding: 10px 14px;
      .see-detail-link {
        color: #636c72;
        font-size: 12px;
        opacity: 0;
        transition: 0.2s all;
        float: right;
        margin: 5px 25px 0 0;
        text-decoration: none;
      }
      .tag {
        font-size: 13px;
        padding: 4px 8px;
        border-radius: 13px;
        background-color: #f5f7f9;
        color: #636c72;
      }
      .tag.new {
        background-color: #0064ff;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        padding: 2px 5px;
        border-radius: 12px;
      }
      .tag.blue {
        color: #0064ff;
        background-color: rgba(0, 100, 255, 0.07);
      }
    }
    &:first-child {
      td {
        border-radius: 11px 11px 0 0;
      }
    }
    &:last-child {
      td {
        &:first-child {
          border-radius: 0 0 0 11px;
        }
        &:last-child {
          border-radius: 0 0 11px 0;
        }
      }
    }
    &:hover {
      td {
        .see-detail-link {
          opacity: 1;
        }
        .tag:not(.blue):not(.new) {
          background-color: #ebebf0;
        }
      }
    }
    td.user-images {
      padding: 0;
      img {
        height: 25px;
        width: 25px;
        border-radius: 100%;
        margin: 0 2px;
      }
    }
    td.date {
      font-size: 15px;
      line-height: 18px;
      color: #636c72;
    }
    td.date.green {
      color: #16b255;
    }
    td.date.red {
      color: #ff6a73;
    }
  }
}
.see-detail-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 445px;
  margin-right: -445px;
  padding: 20px 0 0;
  background: #ffffff;
  border: 1px solid #ebebf0;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  .breadcrumb {
    padding: 0;
    background: transparent;
  }
  .breadcrumb-item {
    color: #173851;
    font-size: 12px;
    text-transform: uppercase;
    a {
      color: #a3aeb8;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        color: #173851;
      }
    }
  }
  h2 {
    font-size: 23px;
    line-height: 30px;
    color: #173851;
    margin-bottom: 23px;
  }
  .nav-tabs {
    .nav-item {
      padding-right: 10px;
      .nav-link {
        color: #495057;
        border-color: transparent;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
        padding: 4px 12px;
        svg * {
          stroke: #495057;
        }
      }
    }
    .nav-link.active {
      border-color: #dee2e6 #dee2e6 #fff;
      background: rgba(0, 100, 255, 0.06);
      border-color: transparent;
      color: #0864ff;
      border-radius: 4px;
      svg * {
        stroke: #0864ff;
      }
    }
    .nav-link:hover {
      color: #0864ff;
      border-radius: 4px;
      svg * {
        stroke: #0864ff;
      }
    }
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}
.drawer-closed {
  margin-right: 0;
}
.dropdown {
  a {
    padding-right: 20px;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    &:hover {
      color: #0064ff;
      background: rgba(0, 100, 255, 0.06);
    }
  }
  .dropdown-menu {
    padding: 8px;
    background: #ffffff;

    border: 1px solid #ebebf0;
    box-sizing: border-box;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
  }
}
.drawer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .dropdown {
    padding-right: 20px;
  }
}
.right_header_wrap {
  display: flex;
  align-items: center;
  > a {
    padding-right: 20px;
  }

  .btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    &:focus,
    &:active {
      box-shadow: none !important;
      border: 0;
      background-color: #fff !important;
    }
  }
}
.headerCheck {
  display: flex;
  padding: 7px 10px;
  border: 1.5px solid rgba(28, 181, 89, 0.5);
  border-radius: 4px;
  margin-bottom: 0;
  > .btnSpan {
    color: #16b355;
    line-height: 18px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    svg {
      margin-right: 6px;
      position: relative;
    }
  }
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
  input:checked + .input-check {
    width: 14px;
    height: 14px;
    background-image: url("./../images/green-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    background-size: 12px auto;
  }
  .input-wrap {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.5px solid rgba(28, 181, 89, 0.5);
    border-radius: 4px;
  }
}
.close-drawer {
  box-shadow: none !important;
}
.info {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
  &:last-child,
  &:first-child {
    align-items: flex-start;
  }
}
.overview-label {
  min-width: 100px;
  color: #636c72;
  font-size: 13px;
  line-height: 16px;
}
.userImg {
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.delete-opt {
  display: flex;
  align-items: center;
  padding: 4px 7px;
  margin-bottom: 10px;
  span {
    font-size: 13px;
    color: #173851;
    font-weight: 500;
    white-space: nowrap;
    max-width: 86px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.selectedTag {
  background: #f5f7f9;
  border-radius: 4px;
}
.crossIcon {
  line-height: normal;
  position: relative;
  padding-left: 10px;
  top: -2px;
}
.add-tag {
  display: flex;
}
.add-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  right: -9px;
  .dropdown-toggle {
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    &:focus,
    &:active,
    &:active:focus,
    &.active,
    &:hover {
      background-color: transparent !important;
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }
}
.dueDateClass {
  color: #16b255;
  font-size: 13px;
}
.info-data {
  display: flex;
  flex-wrap: wrap;
}
.tags {
  font-size: 12px;
  color: #636c72;
  background: #f5f7f9;
  border-radius: 13px;
  padding: 4px 8px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.section-tags {
  font-size: 13px;
  color: #0064ff;
  background: rgba(0, 100, 255, 0.07);
  border-radius: 13px;
  padding: 4px 8px;
  line-height: 16px;
}
.doc-text {
  font-size: 14px;
}
span.status {
  font-size: 13px;
  color: #16b255;
  border-radius: 13px;
  padding: 4px 8px;
  line-height: 16px;
  background: rgba(28, 181, 89, 0.11);
}
.infotext {
  flex-direction: column;
}
.info-desc {
  margin-top: 15px;
  p {
    font-size: 16px;
    line-height: 27px;
    color: #173851;
  }
}
.drawer-footer {
  margin-top: 50px;
  background: #f5f7f9;
  padding: 20px;
}
.profile-info {
  display: flex;
}
.profile-info-img {
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profileText {
  h2 {
    font-size: 14px;
    color: #173851;
    line-height: 24px;
    margin: 0;
    span {
      font-size: 12px;
      color: #a3aeb8;
      padding-left: 10px;
    }
  }
}
.task-update-info {
  margin-top: 22px;
  p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    color: #a3aeb8;
  }
}

.tabheader {
  position: relative;
  .sharelinkBtn {
    position: absolute;
    right: 20px;
    top: 0;
    .btn {
      font-weight: normal;
    }
  }
}
.DrawerTop {
  padding: 0 25px;
}
.drawer-center {
  .nav-tabs {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
  }
  .tab-content {
    padding: 0 25px;
  }
}
.activity-dropdown {
  margin-bottom: 15px;
}
.btn-none {
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #173851;
  font-size: 14px;
  line-height: 18px;
  &:focus,
  &:active,
  &:hover {
    background-color: #fff !important;
    box-shadow: none !important;
    color: #173851 !important;
  }
}
.userlist {
  .userlist-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ebebf0;
    position: relative;
    .profileText {
      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
        max-width: calc(100% - 40px);
        color: #173851;
        &:first-child {
          padding-right: 20px;
        }
        span {
          font-weight: bold;
          color: #173851;
          font-size: 16px;
        }
        a {
          color: #0064ff;
        }
      }
      span {
        font-size: 12px;
        line-height: 20px;
        color: #a3aeb8;
      }
    }
    .highlitedText {
      .highlight {
        color: #636c72;
        font-size: 12px;
      }
      p {
        position: relative;
        color: #000;
        padding-left: 12px;
        &::before {
          position: absolute;
          left: 0;
          height: 20px;
          width: 2px;
          background-color: #dce1e6;
          content: "";
        }
      }
    }
    .profile-info-img {
      width: 37px;
      height: 37px;
    }
    .profile-right {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      .viewl_ink {
        font-size: 13px;
        text-decoration: none;
        padding-right: 10px;
        color: #0064ff;
      }
    }
  }
  .item-attchment {
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        269.31deg,
        #ffffff 11.28%,
        rgba(255, 255, 255, 0.757412) 52.49%,
        rgba(255, 255, 255, 0) 87.24%
      );
      width: 100%;
      right: 0;
      top: 0;

      height: 100%;
    }
  }
}
.startCtivity {
  color: #a3aeb8;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}
.profileText {
  width: calc(100% - 30px);
}
// checkbox
.customChek-container {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;
    margin: 0;
  }
  .customChek {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #dce1e6;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    transition: 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    svg {
      opacity: 0;
    }
  }
  input:checked + .customChek {
    background-color: #0064ff;
    border-color: #0064ff;
    svg {
      opacity: 1;
    }
  }
}
.form-check {
  padding-left: 0;
  .form-check-label {
    padding-left: 10px;
  }
}
// checkbox-end
@media (max-width: 1024px) {
  .filter-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-Left {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .filter-Left {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-wrap {
    margin-left: 0;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  .filter-dropdown {
    margin-bottom: 4px;
  }
}
@media (max-width: 767px) {
  .top-header {
    .main-header {
      h1 {
        font-size: 16px;
      }
    }
  }

  .overview-label {
    min-width: 76px;
  }
  .info,
  .drawer_header {
    margin-bottom: 15px;
  }
  .info-desc p {
    font-size: 13px;
    line-height: 22px;
  }
  .see-detail-drawer .nav-tabs .nav-item .nav-link {
    padding: 8px 8px;
    font-size: 12px;
  }
  .see-detail-drawer .nav-tabs .nav-item {
    padding-right: 0;
  }
  .sharelinkBtn .theme-btn,
  .headerCheck > .btnSpan {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .searc-input {
    width: 100%;
  }
  .see-detail-drawer {
    width: 300px;
    margin-right: -300px;
  }
  .drawer-closed {
    margin-right: 0;
  }
  .see-detail-drawer h2 {
    font-size: 15px;
    line-height: 20px;
  }
}

// Create Task Drawer
.create-task-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 445px;
  margin-right: -445px;
  padding: 20px 25px;
  background: #ffffff;
  border: 1px solid #ebebf0;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  @media (max-width: 450px) {
    width: 300px;
    padding: 20px;
  }
  &.drawer-closed {
    margin-right: 0;
  }
  .close-task-drawer {
    float: right;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .create-task-form {
    display: inline-block;
    width: 100%;
    .form-item {
      margin-bottom: 20px;
      label {
        color: #173851;
        font-size: 14px;
      }
      input,
      textarea,
      select {
        width: 100%;
        border: 1.5px solid #ebebf0;
        padding: 5px 10px;
        height: 40px;
        border-radius: 4px;
        color: #173851;
        &:focus-visible {
          outline: none;
        }
      }
      textarea {
        height: 100px;
      }
      .select2 {
        width: 100% !important;
      }
      .select2-selection {
        width: 100%;
        border: 1.5px solid #ebebf0;
        padding: 5px 10px;
        min-height: 40px;
        border-radius: 4px;
        color: #173851;
        .select2-selection__rendered {
          padding-left: 0;
          padding-right: 0;
        }
        .select2-selection__arrow {
          height: 40px;
          right: 5px;
        }
        textarea {
          height: 20px;
          margin-top: 0;
          border: none;
          padding: 0;
        }
        .select2-selection__choice__remove {
          border-right: 1px solid #fff;
          color: #fff;
          &:hover,
          &:focus {
            background-color: #0864ff;
          }
        }
        .select2-selection__choice {
          margin-top: 0;
          background-color: #0864ff;
          border: 1px solid #0864ff;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .btn {
      background-color: #0064ff;
      color: #fff;
      margin-right: 10px;
      &:hover {
        background-color: transparent;
        border: 1px solid #0064ff;
        color: #0064ff;
      }
    }
    .btn-cancel {
      background-color: transparent;
      border: 1px solid #0064ff;
      color: #0064ff;
      &:hover {
        background-color: #0064ff;
        color: #fff;
      }
    }
  }
}

// Pagination Design
.pagination {
  justify-content: flex-end;
  li {
    a,
    span {
      font-size: 16px;
      color: #173851;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background-color: #0064ff;
        color: #fff;
      }
    }
    &.active {
      a {
        background-color: #0064ff;
        color: #fff;
      }
    }
  }
}

//login
.login-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 51px);
  justify-content: center;
  padding: 40px 0;
  form {
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  .login-form {
    background: #fff;
    padding: 30px;
    width: 410px;
    border-radius: 4px;
    border: 1px solid #fafafa;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.05);
    @media (max-width: 767px) {
      padding: 20px;
    }
    @media (max-width: 425px) {
      width: 100%;
    }

    h2 {
      color: #173851;
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .form-control {
      &:focus,
      &:hover {
        border-color: #173851;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .theme-btn {
      width: 100%;
      justify-content: center;
      height: 40px;
    }
    .loginlink {
      display: inline-block;
      font-size: 14px;
      text-align: center;
      width: 100%;
      color: #173851;
      a {
        color: #0064ff;
      }
      span {
        display: block;
        font-size: 16px;
        padding-bottom: 10px;
      }
    }
  }
}
.login-footer {
  text-align: center;
}
.profile-container {
  position: relative;
  width: 100px;
  .lprofile-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .editicon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0064ff;
    position: absolute;
    bottom: 7px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    svg {
      width: 15px;
      height: 17px;
    }
    input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.signup-from {
  h2 {
    text-align: center;
  }
}
//login end

.selected-task-popover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-width: 400px;
  width: 100%;
  display: inline-flex;
  padding: 14px 0 14px 20px;
  background-color: #173851;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 480px) {
    padding: 6px;
  }
  > span {
    min-width: 120px;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    @media (max-width: 480px) {
      min-width: 100px;
      font-size: 12px;
    }
  }
  .action-wrap {
    span {
      vertical-align: middle;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  button {
    background-color: transparent;
    border: none;
    opacity: 0.5;
    color: #fff;
    padding: 0;
    line-height: 1;
    height: auto;
    vertical-align: middle;
    margin: 0 11px;
    @media (max-width: 480px) {
      margin: 0;
    }
    &:hover,
    &:focus {
      background-color: transparent;
      opacity: 1;
    }
    &.close-btn {
      opacity: 1;
    }
  }
}
